<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<div class="row">

				<div class="col-md-6">
					<h3>Membros</h3>
						<table class="table">
							<thead>
								<td>Nome</td>
								<td>Email</td>
							</thead>
							<tbody>
								<% @members.find_each do |member| %>
									<tr>
										<td><%= member.name %></td>
										<td><%= member.email %></td>
										<td><%= link_to destroy_member_path(member), method: :delete, data: {confirm: "Tem certeza de que deseja excluir este membro?"} do %>
													<i class="glyphicon glyphicon-trash"></i>
												<% end %>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					<%= button_tag "Novo membro", class: "btn btn-primary", remote: true, data: {toggle: "modal", target: "#member-register-modal"} %>
				</div>

				<div id="polls-list" class="col-md-offset-1 col-md-5">
					<h3>Enquetes</h3>

					<% @polls.find_each do |poll| %>

						<% if poll.has_finished %>

							<div class="row alert alert-success">
								<div class="pull-left">
									<h1 class="rating-num"><%= formatted_final_result poll.final_result %></h1>
					        <div class="rating">
					        	<%= render_stars_count(poll.final_result) %>
					        </div>
					      </div>
				        <div class="pull-right text-right">
					        <div>
					        	<span><%= poll.created_at.strftime("%d/%m/%Y as %H:%M") %></span>
					        </div>
				        	<span class="glyphicon glyphicon-user"></span> &nbsp;
				        	<%= poll.voting_histories.count %> votos
				        </div>
				      </div>

						<% else %>

							<div class="row alert alert-warning unfinished-poll-card">
								<div class="pull-left">
									<span>Nota parcial:</span>
									<h3 class="rating-num"><%= formatted_final_result poll.partial_result %></h3>
					      </div>
				        <div class="pull-right text-right">
					        <div>
					        	<span><%= poll.created_at.strftime("%d/%m/%Y as %H:%M") %></span>
					        </div>
				        	<p><span class="glyphicon glyphicon-user"></span> &nbsp;
				        	<%= User.has_voted(poll).count %> de <%= poll.voting_histories.count %> votaram</p>
				        	<!--<%= link_to "Reenviar email", "", class: "btn btn-primary", data: {confirmation: "Reenviar e-mail para todos os membros que ainda não votaram?"} %> -->
				        </div>
				      </div>

			       <% end %>
					<% end %>

					<%= form_tag ('/polls') do %>
						<%= submit_tag "Criar enquete", class: "btn btn-primary", data: {confirm: "Tem certeza de que deseja criar? Isso enviará o link de votação para todos os membros.", disable_with: "Convidando membros. Por favor, aguarde..."} %>
					<% end %>
				</div>

			</div>
		</div>
	</div>
</div>

<%= render 'modal_form' %>